::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #f200ff, #0000ff, #f200ff);
}

::-webkit-scrollbar-track {
  @apply bg-black dark:bg-white;
}

* {
  scroll-behavior: smooth;
}

.scale-down {
  animation-name: scale;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes scale {
  0% {
    scale: 0%;
  }

  50% {
    scale: 110%;
  }

  100% {
    scale: 100%;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.move-in-down {
  animation-name: move-in-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-timeline: view(block 110% 0%);
}

@keyframes move-in-right {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
